* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #282c34;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

header h1 span {
    color: #61dafb;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    color: #61dafb;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#hero {
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(45deg, #61dafb, #282c34);
    color: #fff;
}

#hero .btn {
    background: #fff;
    color: #282c34;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#hero .btn:hover {
    background: #61dafb;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project-grid .project {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    text-align: center;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #282c34;
    color: #fff;
}
img {
    border-radius: 10px; /* Ajuste o valor para o arredondamento desejado */
}